// branding
.branding {
  padding: 51px 0 35px 0;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    padding: 40px 60px 41px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 43px 120px 42px 0;
  }
}


.branding__link {
  margin-left: 9px;

  &:hover {
    fill: rgba(129, 179, 210, 1);
  }

  &:focus,
  &:active {
    fill: rgba(0, 0, 0, 1);
    opacity: 0.3;
  }
}

.branding__icon {
  vertical-align: middle;
}
