// button
.button {
  display: block;
  text-align: center;
  border: none;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(129, 179, 210, 1);
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: rgba(102, 158, 192, 1);
  }

  &:focus {
    color: rgba(255, 255, 255, 0.3);
    background-color: rgba(84, 150, 189, 1);
  }

  &--disabled,
  &--disabled:hover,
  &--disabled:active {
    color: rgba(229, 229, 229, 1);
    background-color: rgba(229, 229, 229, 1);
  }
}
