// control-bar
.control-bar {
  position: absolute;
  bottom: 66px;
  right: 0;
  left: 0;
  width: 100%;
  min-height: 45px;
  background-color: rgba(0, 0, 0, 0.6);

  @media (min-width: $tablet-width) {
    bottom: 43px;
    min-height: 93px;
    margin: 0 0 -70px 0;
  }
}

.control-bar__scale {
  position: relative;
  width: 90%;
  height: 3px;
  margin: 22px auto 0 auto;
  background-color: rgba(255, 255, 255, 0.2);

  @media (min-width: $tablet-width) {
    width: 60%;
    margin: 45px 0 45px 100px;
  }
}

.control-bar__toggle {
  position: absolute;
  top: -5px;
  left: 30px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
  cursor: pointer;
}
