// form
.form {
  padding: 35px 0 0 0;

  @media (min-width: $tablet-width) {
    padding: 65px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    padding: 114px 0 0 0;
  }
}

.form__intro {
  padding: 0 20px 20px 20px;

  h2 {
    margin-bottom: 40px;
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 60px 0;
    padding: 0 166px 0 166px;

    h2 {
      margin-bottom: 37px;
      font-size: 30px;
    }

    p {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 67px 0;
    padding: 0 339px 0 339px;

    h2 {
      margin-bottom: 30px;
    }

    p {
      margin-bottom: 0;
    }
  }
}
