// hotel-search
.hotel-search {
  padding: 33px 20px 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 58px;
    padding-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 58px;
    padding-bottom: 66px;
  }
}

.hotel-search__intro {
  @media (min-width: $mobile-width) {
    h2 {
      margin-bottom: 10px;
      padding: 0 5px;
    }

    p {
      margin-bottom: 28px;
      padding: 0 5px;
    }

    br {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    h2 {
      margin-bottom: 42px;
      padding: 0 80px;
      font-size: 30px;
    }

    p {
      margin-bottom: 47px;
      padding: 0 100px;
    }

    br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    h2 {
      margin-bottom: 41px;
      padding: 0 80px;
      font-size: 30px;
    }

    p {
      margin-bottom: 49px;
      padding: 0 250px;
    }
  }
}

.hotel-search__button {
  @media (min-width: $mobile-width) {
    padding: 15px 32px;
  }

  @media (min-width: $tablet-width) {
    padding: 15px 121px;
  }
}
