// intro
.intro {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  background-color: $base-bg-color;
  color: $base-text-color;
}

.intro__title {
  padding: 0;
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: $base-text-color;
}

.intro__text {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: $base-text-color;
}

.intro__subtitle {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: $sub-text-color;
}
