// modal-success
.modal-success {
  padding: 0 0 0 0;

  @media (min-width: $tablet-width) {
    width: 640px;
    padding: 0 0 0 0;
  }
}

// modal-success__intro
.modal-success__intro {
  padding: 38px 38px 40px 38px;

  h2 {
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      padding: 0 0 0 0;
      margin-bottom: 30px;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 40px;
    }
  }

  p {
    padding-bottom: 5px;
  }
}

//"modal-success__button-container
.modal-success__button-container {
  padding: 20px 20px;
  background-color: rgba(242, 242, 242, 1);

  @media (min-width: $tablet-width) {
    padding: 44px 91px;
    /* padding: 45px 10px 50px 10px; */
  }
}

// modal-success__button
.modal-success__button {
  min-width: 280px;
  padding: 16px 10px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: 458px;
  }
}
