// modal-error

.modal-error {
}

.modal-error__intro {
  width: 300px;
  margin-top: 40px;

  h2 {
    margin-bottom: 40px;
  }

  p {
    margin-bottom: 20px;
  }
}

.modal-error__button {
  margin: 22px auto;
  padding: 16px 63px;
}
