// modal-success
.modal-success {
  padding-bottom: 20px;
}

.modal-success__intro {
  width: 280px;
  margin-top: 40px;

  h2 {
    margin-bottom: 38px;
  }

  p {
    margin-bottom: 65px;
  }
}

.modal-success__button {
  padding: 12px 40px;
  margin: 20px auto;
}
