// page-footer
.page-footer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__hashtag {
  padding: 40px 0 38px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);

  @media (min-width: $tablet-width) {
    padding: 50px 10px 48px 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 53px 10px 50px 115px;
  }
}
