// radio-button

.radio-button {
  position: relative;
  display: block;
  padding-left: 26px;
}

.radio-button__input {}

.radio-button__input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
}

.radio-button__label {
  padding: 0 0 0 26px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.radio-button__mark {
  position: absolute;
  top: 3px;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $lighten-grey;
}

.radio-button__input[type="radio"]+.radio-button__mark {
  border-radius: 50%;
}

.radio-button__input[type="radio"]:checked+.radio-button__mark::before,
.radio-button__input[type="radio"]:checked+.radio-button__mark::after {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $darken-grey;
  background-position: center;
  background-repeat: no-repeat;
  content: ' ';
}

.radio-button__input:active+.radio-button__mark {
  border-color: $basic-grey;
}

.radio-button__input:hover+.radio-button__mark {
  background-color: $light-grey;
}

.radio-button__input:focus+.radio-button__mark {
  border: none;
  outline: none;
  background-color: $basic-grey;
}
