// reasons
.reasons {
  padding: 32px 0 0 0;

  @media (min-width: $tablet-width) {
    padding: 98px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 0 0 0;
  }
}

.reasons__intro {
  padding: 0 30px 18px 30px;

  @media (min-width: $tablet-width) {
    padding: 0 120px 60px 120px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 350px 49px 350px;
  }

  h2 {
    margin-bottom: 40px;

    @media (min-width: $tablet-width) {
      margin-bottom: 42px;
    }
  }
}

.reasons__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  counter-reset: counter;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

// reasons__item
.reason__item {
 /*  width: 100%; */
  text-align: center;
}

// reasons__item
/* .reason__item {
 display: block;
  text-align: center;

  &--wth-image {
    background-color: rgba(102, 158, 192, 1);

    &::before {
      width: 100%;
      height: 50px;
      background-image: url(/source/img/svg/white-triangle.svg);
      background-repeat: no-repeat;
      background-position: 50% 0;
      content: ' ';
    }
  }
}
*/
