// reasons-item
.reasons-item {
  display: flex;

  &--image {
    flex-wrap: wrap;
  }

  &--image-reverse {
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }
}

.reasons-item__title {
  font-size: 18px;
  line-height: 26px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
  }
}


.reasons-item__text {
  font-size: 12px;
  line-height: 26px;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 14px;
  }

  @media (min-width: $desktop-width) {
    font-size: 14px;
  }
}
