// text-field
.text-field {
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.text-field__label {
  display: inline-block;
  padding: 10px 12px 0 0;
}

.text-field__input {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.text-field__input[placeholder] {
  padding: 11px 58px 11px 22px;
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
}

.review-form__textarea {
  border: none;
  background-color: rgba(242, 242, 242, 1);
}

.review-form__textarea[placeholder] {
  padding: 13px 22px 29px 22px;
  font-family: inherit;
  font-weight: bold;
}

@media (min-width: $mobile-width) {
  .review-form__textarea {
    min-width: 279px;
    min-height: 160px;
  }
}
